
@{
    ViewData ["Title"] = "Mascotas";
    Layout ="~/Views/Shared/_layout.cshtml";
}
<br>
<br>
<h1 class="text text-primary text-center"> Veterinarios</h1>
<div class="container">
    <div class=" row"> 
            <div class="col-6">
              <img src="/images/Photo4.jpg" alt="NO" />
            </div>
            <div class="col-6">
               <h1 class="text text-danger text-center"> En fase de desarrollo</h1>
            </div>
            
        </div>
</div>
