@model Mascota
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<br>
<h2 class="text-info">Informacionde la mascota</h2>
<br>

<form method="post" asp-action="Details" >
    <div class="container">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Id" class="col-form-label"></label>
            </div>
            <div class="col-3">
                <input asp-for="Id" readonly class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Nombre" class="col-form-label"></label>
            </div>
            <div class="col-3">
                <input asp-for="Nombre" readonly class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Edad" class="col-form-label"></label>
            </div>
            <div class="col-3">
                <input asp-for="Edad" readonly class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Dueño" class="col-form-label"></label>
            </div>
            <div class="col-3">
                <input asp-for="Dueño" readonly class="form-control">
            </div>
        </div>
        <div class="form-group-row">
            <div class="row">
                <div class="col-3">
                    <a asp-action="Index" asp-controller="Mascota" class="btn btn-info form-control">
                        Volver a la lista de mascotas
                    </a>
                </div>
            </div>

        </div>

    </div>


</form>
